# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
build/
# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

 OSX

.DS_Store

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

build/
.idea
.gradle
local.properties
*.iml

.vscode/

node_modules/
npm-debug.log
yarn-error.log
coverage/

buck-out/
\.buckd/
!debug.keystore


*.jsbundle

/ios/Pods/
*.swp

.npmrc
*.hprof